black==24.3.0
flake8==4.0.1
ipython>=7.8.0
lazydocs==0.4.8
myst-parser==0.18.1
pre-commit==2.20.0
pydocstyle==6.1.1
pytest-cov==3.0.0
pytest-mock==3.8.2
pytest==7.1.2
requests-mock==1.9.3
sphinx-click==4.3.0
sphinx-rtd-theme==1.1.1
sphinx==5.3.0
tokenize-rt>=3.2.0
twine==4.0.0
wheel==0.38.1
